<head>
  <link rel="stylesheet" href="../../css/styles-layout.css">
  <link rel="stylesheet" href="../../css/client/tour/list.css">
</head>
<!-- Carousel -->
<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/xem-phim-rap.jpg" class="d-block w-100" alt="Phim">
      <div class="carousel-caption d-none d-md-block">
        <h5>Đặt vé xem phim nhanh chóng</h5>
        <p>Thưởng thức những bộ phim hay nhất.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../img/concert.jpg" class="d-block w-100" alt="Sự kiện">
      <div class="carousel-caption d-none d-md-block">
        <h5>Sự kiện nổi bật</h5>
        <p>Không bỏ lỡ các sự kiện hấp dẫn.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../img/nha-trang.jpg" class="d-block w-100" alt="Du lịch">
      <div class="carousel-caption d-none d-md-block">
        <h5>Đặt tour du lịch dễ dàng</h5>
        <p>Khám phá những điểm đến lý tưởng.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<main class="container mt-5">
  <h1 class="text-center mb-4">Mua Vé Du Lịch Trong Nước</h1>
  <!-- List Tour Packages -->
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <% tours.forEach(tour=> { %>
      <div class="col">
        <a href="details/<%= tour.id %>" class="text-decoration-none text-dark">
          <div class="card">
            <img src="<%='../img/' + tour.image_url %>" class="card-img-top" alt="Tour Image">
            <div class="card-body">
              <h5 class="card-title">Du lịch <%= tour.departure_point %> - <%= tour.destination %>
              </h5>
              <p class="card-text"><strong>Ngày khởi hành: </strong>
                <%= new Date(tour.departure_date).toLocaleDateString('vi-VN') %>
              </p>
              <p class="card-text"><strong>Giá: </strong>
                <%= Number(tour.price).toLocaleString("vi-VN").replace(/,/g, '.' ) %> VNĐ/ người
              </p>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
  </div>
</main>